h1 {
    font-family: 'Markazi Text', serif;
    color: #24292e;
}

#root {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
    min-height: 100vh;
    background-color: #2196f317;
}

.fa-envelope {
    color: lightgray;
    font-size: 25px;
}

.fa-twitter {
    color: #4AB3F4;
    font-size: 25px;
}

.fa-facebook {
    color: #4267b2;
    font-size: 25px;
}

.fa-github {
    font-size: 25px;
    color:#24292e;
}

.fa-linkedin {
    font-size: 25px;
    color: #0077B5;
}

#navigation {
    background-color: #2196f317;
    position: sticky;
    top: 0;
}

#navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    list-style: none;
}

#navigation .container {
    margin: 0 auto;
}

#navigation a {
    position: relative;
    color: #24292e7d;
    text-decoration-line: none;
}   

#navigation a + ul {
    position: absolute;
    top: 18px;
    left: -15px;
    display: none;
}

#navigation a:hover + ul, 
#navigation a + ul:hover {
    display: flex;
    flex-direction: column;
}

/*#content p + ul {
    background-color: lawngreen;
}

#content li {
    background-color: chartreuse;
}

#content li:first-child {
    background-color: aqua;
}

#content li:last-child {
    background-color: purple;
}

#content li:nth-child(2) {
    background-color: red;
}

#content li:nth-child(3n){
    background-color: orange;
}*/

#header {
    padding: 10px;
}

#content {
    padding: 10px;
    font-family: 'Open Sans', serif;
    color: #24292e;
}

#footer {
    padding: 10px;
}

#footer > ul {
    margin: 0;
    padding: 10px;
}

#footer > ul > li {
    margin: 0 10px 0 0;
    display: inline;
}

#footer a {
    text-decoration-line: none;
    padding: 20px;
}

#footer .container {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 760px;
}

.boldlinky {
    font-weight: bold;
}

img {
    width: 100%;
    max-width: 500px;
}

span {
    color: blue;
    font-weight: bold;
}

@media (min-width: 612px) {
    #root {
        grid-template-columns: 150px auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas:
        "navigation header"
        "navigation content"
        "navigation footer";
    }

    #navigation {
        grid-area: navigation;
    }

    #navigation > ul {
        flex-direction: column;
        height: 50vh;
    }
}